<div data-options="dxView : { name: 'about', title: 'About' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div class="dx-fieldset">
			<div class="dx-field">
				<div class="dx-field-label">Network:</div>
				<div data-bind="dxButton:{text:'Start', clickAction: StartPhoneGapNetwork}"></div>
            </div>		
			<div class="dx-field">
				<div class="dx-field-label">Compass:</div>
				<div data-bind="dxButton:{text:'Start', clickAction: StartPhoneGapCompass}"></div>
				<div data-bind="dxButton:{text:'Stop', clickAction: StopPhoneGapCompass}"></div>
            </div>		
			<div class="dx-field">
				<div class="dx-field-label">Geolocation:</div>
				<div data-bind="dxButton:{text:'Start', clickAction: StartPhoneGapGeolocation}"></div>
				<div data-bind="dxButton:{text:'Stop', clickAction: StopPhoneGapGeolocation}"></div>
            </div>
			<div class="dx-field">
				<div class="dx-field-label">BarCodeScanner:</div>
				<div data-bind="dxButton:{text:'Start', clickAction: StartBarcodeScanner}"></div>
            </div>
			<div class="dx-field">
				<div class="dx-field-label">Push Notification:</div>
				<div data-bind="dxButton:{text:'Start', clickAction: StartPushNotification}"></div>
            </div>		
			
			
		</div>
	
        <div data-bind="dxScrollView: {}">
            <p style="padding: 5px">PhoneGap test check data from phone.</p>
			<div id="phonegap_output">OUTPUT PHONEGAP</div>
		</div>
    </div>

</div>