<div data-options="dxView : { name: 'about', title: 'About' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div class="dx-fieldset">
            <div class="dx-field">
                <div class="dx-field-label">Latitude</div>
                <div class="dx-field-value" data-bind="dxTextBox: { value: latitude }"></div>
            </div>
            <div class="dx-field">
				<div data-bind="dxButton:{text:'CheckPhoneGap', clickAction: buttonClicked}"></div>
				<div data-bind="dxButton:{text:'StartPhoneGapCompass', clickAction: StartPhoneGapCompass}"></div>
				<div data-bind="dxButton:{text:'StopPhoneGapCompass', clickAction: StopPhoneGapCompass}"></div>
				<div data-bind="dxButton:{text:'StartPhoneGapGeolocation', clickAction: StartPhoneGapGeolocation}"></div>
				<div data-bind="dxButton:{text:'StopPhoneGapGeolocation', clickAction: StopPhoneGapGeolocation}"></div>
				
            </div>
		
		</div>
	
	
        <div data-bind="dxScrollView: {}">
            <p style="padding: 5px">PhoneGap test check data from phone.</p>
			<div id="phonegap_output">OUTPUT PHONEGAP</div>
		</div>
    </div>
	

	
</div>