<div data-options="dxView : { name: 'EditList' } " >
    <div class="edit-list"  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div class="new-item">
            <div data-bind="dxTextBox: { value: newValue, placeholder: emptyValue } "></div>
            <div data-bind="dxButton: { text: 'Add', clickAction: handleAddClick }"></div>
        </div>
        <div data-bind="dxList: { dataSource: dataSourceXML, pullRefreshEnabled: true }">
            <div data-options="dxTemplate : { name: 'item' }">
                <div class="list-item-title">
                  <div> 
					<span data-bind="text: $data.name, dxAction: '#Maps/{$data._id.$oid}'"></span>
				  </div>
				<div>
                <div class="right">
                    <div data-bind="dxButton: { text: 'Delete', clickAction: $root.handleDeleteClick }"></div>
                </div>
            </div>
        </div>
    </div>
</div>