<div data-options="dxView : { name: 'geolocator', title: 'Geolocator' } " >
<div class="myRule" data-bind="dxScrollView:{}">
    <!-- <div  data-options="dxContent : { targetPlaceholder: 'content' } " > -->
	
		<div class="dx-fieldset">
		    <div class="dx-field">
                <div class="dx-field-label">End location:</div>
                <div class="dx-field-value" data-bind="dxTextBox: { value: finalLocation }"></div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Curr location:</div>
                <div class="dx-field-value" data-bind="dxTextBox: { value: currentLocation }"></div>
            </div>	
            <div class="dx-field">
                <div class="dx-field-label">Haversine/km:</div>
                <div class="dx-field-value" data-bind="dxTextBox: { value: haversine }"></div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Bearing/2pt deg:</div>
                <div class="dx-field-value" data-bind="dxTextBox: { value: bearing }"></div>
            </div>			
            <div class="dx-field">
                <div class="dx-field-label">Heading/cur deg N:</div>
                <div class="dx-field-value" data-bind="dxTextBox: { value: heading }"></div>
            </div>				
			<div class="dx-field">
				<div class="dx-field-label">Tracking:</div>
				<div data-bind="dxButton:{text:'Start', clickAction: startTracking}"></div>
				<div data-bind="dxButton:{text:'Stop', clickAction: stopTracking}"></div>
				<div data-bind="dxButton:{text:'Test!', clickAction: updateMyLocation}"></div>
				<div id="trackingStatus">Stopped!</div>
			</div>				
		</div>
			
		<p>Bearing/Heading/Real direction</p>
		<div id="output_debug"></div>
       	<img id="compass" src="img/arrow.png" width="50" height="50">
		<img id="compass1" src="img/arrow.png" width="50" height="50">
		<img id="compass2" src="img/arrow.png" width="50" height="50">
    
	<!-- </div>  -->
	</div>
</div>