<div data-options="dxView : { name: 'geolocator', title: 'Geolocator' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div class="dx-fieldset">
		    <div class="dx-field">
                <div class="dx-field-label">Final location:</div>
                <div class="dx-field-value" data-bind="dxTextBox: { value: finalLocation }"></div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Current location:</div>
                <div class="dx-field-value" data-bind="dxTextBox: { value: currentLocation }"></div>
            </div>	
            <div class="dx-field">
                <div class="dx-field-label">Haversine:</div>
                <div class="dx-field-value" data-bind="dxTextBox: { value: haversine }"></div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Bearing:</div>
                <div class="dx-field-value" data-bind="dxTextBox: { value: bearing }"></div>
            </div>			
			
			<div class="dx-field-label">Tracking:</div>
			<div data-bind="dxButton:{text:'Start', clickAction: startTracking}"></div>
			<div data-bind="dxButton:{text:'Stop', clickAction: stopTracking}"></div>
			<div data-bind="dxButton:{text:'Test!', clickAction: updateMyLocation}"></div>
		</div>
	
	
        <div data-bind="dxScrollView: {}">
			<img id="compass" src="img/arrow.png" width="100" height="100">
			
		</div>
    </div>
	

	
</div>