/* Put css styles for home view here */
.home-view p {
	padding: 5px;
}

.contenuto_centrato {
  margin-left: auto ;
  margin-right: auto ;
}

.myRule {
    position: absolute;
    bottom: 0;
    top: 32px;
    width: 100%;
    height: auto;
}