<div data-options="dxView : { name: 'geopositionsList', title: 'Elenco posizioni salvate', layout: 'navbar' }">
    <div data-options="dxContent : { targetPlaceholder: 'content' } " >
		<div id="actionSheetContainer" data-bind="dxActionSheet: { dataSource: actionSheetData, visible: actionSheetVisible }"></div>
		<div class="list-indentation">
			<div class="myRule" data-bind="dxList: { dataSource: dataSourceXML, pullRefreshEnabled: false }">
                <div data-options="dxTemplate : { name: 'item' } " data-bind="dxAction: '#geolocator/{$data._id.$oid}'" style="height: 100%">
					<strong data-bind="text: $data.datesaved" ></strong>-<strong data-bind="text: $data.timesaved" ></strong><br/>
					<strong data-bind="text: Globalize.format( $data.latitude, 'n2' )"></strong> <strong data-bind="text: Globalize.format($data.longitude,'n2') " ></strong>
					<div class="product-image-box-right" data-bind="dxButton: { icon: 'remove' , clickAction: function(e) {  $root.handleClickItem(e, $data); return false;} }"></div>
				</div>
            </div>
        </div>
    </div>
</div>
