<div data-options="dxView : { name: 'home', title: 'Home', layout: 'navbar' } " >
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
	
		<div class="dx-fieldset settings-form">
			  <div class="dx-field">
				  <div style="clear:both; width: 100%; " data-bind="dxButton: { text: 'Salva posizione', clickAction: gotoGeolocation }"></div>	
			  </div>
				<div class="dx-field">
				  <div style="clear:both; width: 100%;" data-bind="dxButton: { text: 'Cerca posizione', clickAction: gotoSearchPosition }"></div>	
			  </div>
			  <div class="dx-field with-lookup-arrow" data-bind="event: { click: gotoSavePosition }">
				  <div class ="dx-field-label">[SALVA POSIZIONE]</div>
			  </div>
			  <div class="dx-field with-lookup-arrow" data-bind="event: { click: gotoSearchPosition }">
				  <div class ="dx-field-label">[CERCA POSIZIONE]</div>
			  </div>
			  <div class="dx-field with-lookup-arrow" data-bind="event: { click: gotoCompass }">
				  <div class ="dx-field-label">[BUSSOLA]</div>
			  </div>
			  <div class="dx-field with-lookup-arrow" data-bind="event: { click: gotoGeolocation}">
				  <div class ="dx-field-label">[GEOLOCATION]</div>
			  </div>
			  <div class="dx-field with-lookup-arrow" data-bind="event: { click: gotoDemo}">
				  <div class ="dx-field-label">[DEMO]</div>
			  </div>
		</div>
	</div>
</div>