/* Put css styles for home view here */
.home-view p {
	padding: 5px;
}

.contenuto_centrato {
  margin-left: auto ;
  margin-right: auto ;
}

.myButton {
    width: 100%;
	height: 40px;
	font-size:200%;
}

.center
{
margin-left:auto;
margin-right:auto;
width:95%;
background-color:#b0e0e6;
}

.logo {
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}